html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}html{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-touch-callout:none;}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}audio:not([controls]){display:none;height:0;}[hidden],template{display:none;}a{outline:0;text-decoration:none;color:#333;background-color:transparent;}a:active,a:hover{outline:0;}b,strong{font-weight:bold;}i,em,s{font-style:normal;}s{text-decoration:none;}small{font-size:80%;}h1,h2,h3,h4,h5,h6{font-size:100%;}sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{max-width:100%;height:auto;width:auto\9;border:0;vertical-align:middle;}textarea{overflow:auto;resize:none;}table{width:100%;border-spacing:0;border-collapse:collapse;}li{list-style:none;}button,input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;border:0 none;cursor:pointer;}button,input{line-height:normal;}input,button,select,textarea{font:inherit;line-height:inherit;color:inherit;}button[disabled],input[disabled]{cursor:default;}button,select{text-transform:none;border:0 none;}input[type="checkbox"],input[type="radio"]{padding:0;box-sizing:border-box;}:focus{outline:0;}.clearfix:before,.clearfix:after{display:table;content:'';}.clearfix:after{clear:both;}.clear{clear:both;display:block;height:0;overflow:hidden;}.ipt{border:0 none;}.btn{text-align:center;}.btn,i{display:inline-block;}select,input[type="checkbox"]{background-color:transparent;-webkit-appearance:none;appearance:none;}.fl{float:left;}.fr{float:right;}::-webkit-input-placeholder{color:#ccc;}body{line-height:1.5;color:#333;font-size:12px;word-break:break-all;word-wrap:break-word;font-family:"Microsoft YaHei","Helvetica Neue",Helvetica,STHeiTi,sans-serif;}

html,body{height:100%;}
body{background-color:#f2f2f2;}
body.whitebg{background-color:#fff;}
.container{position:relative;min-height:100%;}
i[class^='icon-']{position:relative;vertical-align:top;}
#header{position:relative;z-index:199;height:48px;overflow:hidden;background-color:#232732;}
#header .title{text-overflow:ellipsis;white-space:nowrap;}
#header .title,.header-nav{margin:0 50px;}
#header .title{height:48px;line-height:48px;overflow:hidden;font-size:20px;font-weight:normal;color:#fff;text-align:center;}
#header .back,#header .home,#header .login,#header .msg,#header .cancel,#header .complete,#header .help{position:absolute;top:0;width:48px;height:48px;line-height:48px;overflow:hidden;text-align:center;font-size:16px;color:#fff;}
#header .back,#header .login,#header .cancel{left:0;}
#header .home,#header .msg,#header .complete,#header .help{right:0;}
#header .back:after,#header .home:after,#header .login:after,#header .msg:after,#header .cancel:after,#header .help:after{content:'';clear:both;display:table;position:absolute;left:50%;top:50%;width:30px;height:30px;margin:-15px 0 0 -15px;background-position:center;background-repeat:no-repeat;}
#header .back:after{background-image:url(../images/icon_back.png);background-size:contain;}
#header .home:after{background-image:url(../images/icon_home.png);}
#header .login:after{background-image:url(../images/icon_login.png);}
#header .msg:after{background-image:url(../images/icon_msg1.png);}
#header .cancel:after{background-image:url(../images/icon_cancel.png);}
#header .help:after{background-image:url(../images/icon_help.png);}
#header .msg .n{position:absolute;z-index:9;right:6px;bottom:29px;width:5px;height:5px;border-radius:50%;background-color:#e7464e;}
#header .logo,.header-nav{-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;align-items:center;}
#header .logo{height:48px;margin:0 50px;}

.btn{border-radius:3px;font-size:16px;color:#fff;}
.primary-btn{height:40px;background-color:#4690f9;}
a.primary-btn{line-height:40px;}
select.sel{background:url(../images/icon_sel.png) no-repeat right center;background-size:14px 9px;}
input[type="checkbox"]{width:16px;height:16px;border:1px solid #e6e6e6;background-color:#fff;}
input:checked[type="checkbox"]{background:url(../images/icon_checkbox_2_checked.png) no-repeat center #fff;}
input[type="checkbox"].chk{width:25px;height:25px;border:0 none;background:url(../images/icon_checkbox.png) no-repeat;}
input:checked[type="checkbox"].chk{background-image:url(../images/icon_checkbox_checked.png);}
.primary-btn i{position:relative;top:10px;width:20px;height:20px;margin-right:8px;background-repeat:no-repeat;vertical-align:top;}

.lt-form{padding-bottom:20px;}
.lt-form .form-group{margin-bottom:10px;}
.lt-form .form-item,.header-nav,#nav,#header .logo{display:-webkit-box;display:-webkit-flex;display:flex;}
.lt-form .form-item{height:50px;padding:9px 15px;margin-bottom:1px;font-size:15px;background-color:#fff;}
.lt-form .form-item .item-title{width:90px;}
.lt-form .form-item .item-content,#nav a{-webkit-box-flex:1;-webkit-flex:1;flex:1;}
.lt-form .form-item .item-content .item-content-text{height:32px;line-height:32px;overflow:hidden;padding:0 5px;}
.lt-form .form-item .item-extra{width:20px;line-height:32px;text-align:right;}
.lt-form .lab,.lt-form select,.lt-form .ipt{height:32px;}
.lt-form .lab{position:relative;display:block;line-height:32px;overflow:hidden;}
.lt-form select,.lt-form .ipt{width:100%;}
.lt-form .ipt{padding:0 5px;}
.lt-form .form-msg,.lt-form .form-btns{padding:0 15px;}
.lt-form .form-msg{margin-top:10px;color:#999;}
.lt-form .form-btns{margin-top:20px;}
.lt-form .primary-btn{width:100%;}
.lt-form .sw{display:inline-block;}
.lt-form .sw.w1{width:1em;}

.header-nav{height:30px;font-size:15px;margin-top:9px;}
.header-nav a{width:90px;line-height:28px;border:1px solid #444751;border-left:0 none;color:#fff;text-align:center;}
.header-nav a:first-child{border-left:1px solid #444751;border-radius:4px 0 0 4px;}
.header-nav a:last-child{border-radius:0 4px 4px 0;}
.header-nav a.current{background-color:#444751;}

#nav{height:40px;background-color:#f2f2f2;text-align:center;font-size:14px;}
#nav a{line-height:37px;overflow:hidden;border-top:2px solid #f2f2f2;border-bottom:1px solid #eaeaea;}
#nav a.current{border-top-color:#4690f9;border-bottom-color:#fff;color:#4690f9;background-color:#fff;}

#navbar{position:fixed;z-index:199;left:0;bottom:0;width:100%;height:50px;overflow:hidden;text-align:center;background-color:#fff;}
#navbar a{float:left;width:25%;height:50px;color:#666;}
#navbar a i{display:block;width:100%;height:22px;margin:7px auto 2px;background-position:center;background-repeat:no-repeat;}
#navbar a .icon-rec{background-image:url(../images/icon_nav_rec.png);}
#navbar a .icon-cart{background-image:url(../images/icon_nav_cart.png);}
#navbar a .icon-history{background-image:url(../images/icon_nav_history.png);}
#navbar a .icon-user{background-image:url(../images/icon_nav_user.png);}
#navbar a.on{color:#4690f9;}
#navbar a.on .icon-rec{background-image:url(../images/icon_nav_rec_on.png);}
#navbar a.on .icon-cart{background-image:url(../images/icon_nav_cart_on.png);}
#navbar a.on .icon-history{background-image:url(../images/icon_nav_history_on.png);}
#navbar a.on .icon-user{background-image:url(../images/icon_nav_user_on.png);}

.height50{clear:both;display:block;height:50px;overflow:hidden;}