<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnStr" connectionString="Data Source=.;Initial Catalog=Ticket;Persist Security Info=True;User ID=sa;Password=aA321321;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="DataUrl" value="D:\\FeiFan\\Collect\\Data\\"/>
    <add key="RootUrl" value="http://ff-adm.q960.com"/>
    <add key="IphoneUrl" value="http://ff-m.q960.com"/>
    <add key="MachineCode" value="EMKEMEMM333936C3G134M1G1XUZQRCTCZ6VCTJWERHKX9RQRSWZA1OUVN1Q3ASX"/>
    <!--国盛通-->
    <add key="code12" value="939"/>
    <add key="key12" value="0b7b02f7f3fccd6efb2542d814f626e4"/>
    <add key="code13" value="931"/>
    <add key="key13" value="2629b3a6c0d5c4d2c57ffec33319e8c6"/>
    <add key="code14" value="949"/>
    <add key="key14" value="7dfea85ac6326657f81fd0986ff6e28e"/>
    <add key="codeMiao" value="89253178"/>
    <add key="keyMiao" value="44adb45952bf0a2c8853b45ebaf9db61"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.5"/>
    <!--如果程序已经在本地调试成功，则上传至服务器后将debug改为false-->
    <authentication mode="Windows"/>
    <!-- 编辑器验证 -->
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1024000"/>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0"/>
    <!-- 编辑器验证结束 -->
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.codedom/>
</configuration>