<?xml version="1.0" encoding="utf-8"?>
<Root>
  <Name>时时彩</Name>
  <Dir>/</Dir>
  <WebIsOpen>0</WebIsOpen>
  <WebCloseSeason>
  </WebCloseSeason>
  <ZHIsOpen>0</ZHIsOpen>
  <RegIsOpen>0</RegIsOpen>
  <BetIsOpen>0</BetIsOpen>
  <CSUrl>http://www.hao123.com</CSUrl>
  <SignMinTotal>1</SignMinTotal>
  <SignMaxTotal>5</SignMaxTotal>
  <SignNum>100</SignNum>
  <WarnTotal>5000.00</WarnTotal>
  <MaxBet>200000.00</MaxBet>
  <MaxWin>300000.00</MaxWin>
  <MaxLevel>12.70</MaxLevel>
  <MinCharge>1.00</MinCharge>
  <Points>1000</Points>
  <PriceOutCheck>30.00</PriceOutCheck>
  <PriceOut>100.00</PriceOut>
  <PriceOut2>49999.00</PriceOut2>
  <PriceNum>999</PriceNum>
  <PriceTime1>10:00</PriceTime1>
  <PriceTime2>02:00</PriceTime2>
  <BankTime>6.00</BankTime>
  <PriceOutPerson>3</PriceOutPerson>
  <ClientVersion>20141104</ClientVersion>
  <UpdateTime>2014-11-04 12:46:18</UpdateTime>
  <NewsUpdateTime>2014-11-04 12:48:16</NewsUpdateTime>
  <AutoLottery>0</AutoLottery>
  <ProfitModel>0</ProfitModel>
  <ProfitMargin>80</ProfitMargin>
  <AutoRanking>0</AutoRanking>
  <CookieDomain>
  </CookieDomain>
  <CookiePath>/</CookiePath>
  <CookiePrev>LotteryUser</CookiePrev>
  <CookieKeyCode>
  </CookieKeyCode>
  <Version>20141104</Version>
  <DebugKey>5E7D-8A8B-F75C-BFF3</DebugKey>
  <BetSQ>0</BetSQ>
  <BetSQMoney>2</BetSQMoney>
</Root>