<rewriter>
  <rewrite url="^/(error|errordown|errorip).aspx$" to="/aspx/$1.aspx" processing="stop" />
  <rewrite url="^/([a-zA-Z]{1,20})-([0-9]+)-([0-9]+).(aspx|html|shtm)$" to="/controls/$1.aspx?ChannelId=$2&amp;id=$3" processing="stop" />
  <rewrite url="^/([a-zA-Z]{1,20})-([0-9]+)-([0-9]+)\(([0-9]+)\).(aspx|html|shtm)$" to="/controls/$1.aspx?ChannelId=$2&amp;id=$3&amp;page=$4" processing="stop" />
  <!--以下规则请勿手动修改-->
  <!--频道二级域名begin-->
  <!--频道二级域名end-->
</rewriter>