<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <connectionStrings>
    <add name="ConnStr" connectionString="Data Source=.;Initial Catalog=Ticket;Persist Security Info=True;User ID=sa;Password=aA321321;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Domain" value="localhost"/>
    <add key="RootUrl" value="http://localhost:8015/"/>
    <add key="DesKey" value="qazwsxed"/>
    <add key="NumberUrl" value="http://localhost:833/"/>
    <add key="MachineCode" value="EMKEMEMM333736C89133E377XUZQRCTCZ6VCTJWERHKX9RQRSWZA1OUVN1Q3ASX"/>
    <!--开奖号码存储目录-->
    <add key="DataUrl" value="D:\\Projects\\ffyule\\Lottery.FFApp\\Lottery.Collect\\Data\\"/>
    <!--开奖号码站点URL-->
    <add key="CollectUrl" value="http://localhost:8015/"/>
    <!--会员投注信息存储目录-->
    <add key="BetUrl" value="C:\\Bets\\"/>
    <add key="SbfUser" value="10441"/>
    <add key="SbfUserKey" value="c648248dd981495a25e68ef8041d61df"/>
    <add key="SbfApi" value="http://api.suibipay.com"/>
  </appSettings>
  <log4net debug="false">
    <root>
      <level value="WARN"/>
      <level value="INFO"/>
      <level value="DEBUG"/>
      <level value="FINE"/>
      <appender-ref ref="LogAppender"/>
    </root>
    <appender name="LogAppender" type="log4net.Appender.RollingFileAppender">
      <param name="Encoding" value="utf-8"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="File" value="log\\mbapp"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
      <param name="MaximumFileSize" value="10MB"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>
  </log4net>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8"/>
    <httpRuntime maxRequestLength="1024000" executionTimeout="720"/>
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.5"/>
    <!--如果程序已经在本地调试成功，则上传至服务器后将debug改为false-->
    <authentication mode="Windows"/>
    <pages validateRequest="false" enableSessionState="true" enableEventValidation="false" enableViewStateMac="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>